<%- include("partials/header") %>

<div class="container ui main text segment">
    <h1>Edit Post</h1>
    <form class="ui form" action="/blogs" method="POST">
        <div class="field">
            <label>Title</label>
            <input type="text" name="title" value="<%=blog.title %>" placeholder="title">
        </div>
        <div class="field">
            <label>Image</label>
            <input type="text" name="image" value="<%=blog.image %>" placeholder="image">
        </div>
        <div class="field">
            <label>Vlog Content</label>
            <textarea name="body" > <%=blog.body %> </textarea>
        </div>
            <input type="submit" class="ui violet big basic button">
    </form>
</div>



<%- include("partials/footer") %>