<%- include("partials/header") %>

<!-- <h1>This is the testing site</h1> -->
<div class="container  ui fall">
    <% blogs.forEach((vlog)=>{ %>
        
        <h3><%= vlog.title %></h3>
        <img src="<%= vlog.image %>">
        <p><%= vlog.created %></p>
        <p> <%= vlog.body.substr(0, 95)%>...  <a href="/blogs/<%= vlog.title %>" class="ui red">Read More</a></p>        
    <% }) %>
</div>


<%- include("partials/footer") %>