<%- include("partials/header") %>

<div class="container ui main text segment fall show">
    <form action="/blogs/<%= blog._id %>?_method=DELETE" method="POST" class="item" >
        <h2 class="header"><%= blog.title %></h2>
        <img src="<%= blog.image %>">
        <p class="extrameta"><%= blog.created.toDateString() %></p>
        <p><%= blog.body %></p>
        <h4>
            <a href="/blogs/delete"><label>
                <input type="submit" class="mr ui blue basic button item" value="Delete Post"></label>
            </a>
            <a href="/blogs/<%=blog._id%>/edit" class="mr ui blue basic button item">Edit Post</a>
        </h4>
    </form>
</div>
<%- include("partials/footer") %>

