<%- include("partials/header") %>

<div class="container ui main text segment fall">
    <form action="/blogs/<%= vlog.title %>?_method=DELETE" method="POST" class="item" >
        <h2><%= vlog.title %></h2>
        <img src="<%= vlog.image %>">
        <p class="extrameta"><%= vlog.created.toDateString() %></p>
        <p><%= vlog.body %></p>
        <h4>
            <a href="/blogs/delete"><label>
                <input type="submit" class="mr ui blue basic button item" value="Delete Post"></label>
            </a>
            <a href="/blogs/<%=vlog.title%>/edit" class="mr ui blue basic button item">Edit Post</a>
        </h4>
        <input type="hidden" name="hiddenButton" value="<%= vlog %>"></input>
    </form>
</div>
<%- include("partials/footer") %>

